[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pyjwt = "==2.4.0"
cryptography = "*"
requests = "*"
structlog = "==20.1.0"
flask-assets = "*"
cssmin = "*"
gunicorn = "*"

[dev-packages]
"flake8" = "*"
pytest = "*"
pytest-cov = "*"
responses = "*"
codecov = "*"

[requires]
python_version = "3.7"
