[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
tzlocal = "*"
gunicorn = "*"
flask-httpauth = "*"
flask-assets = "*"
pika = "*"
redis = "*"
werkzeug = "*"

[dev-packages]
pytest = "*"
"flake8" = "*"
codecov = "*"
pytest-cov = "*"
requests-mock = "*"

[requires]
python_version = "3.7"
