{% extends "layouts/base.html" %}
{% block main %}
  <head>
    <title>Census ROps Case Management</title>
  </head>
  <body>
  <h1>Search cases</h1>
  <div class="case-search">
    <div class="container container--wide">
      <form action="{{ url_for('postcode_search_bp.postcode_results') }}" method='get'>
        <div class="field">
          <label class="label venus" for="postcode-search">Enter a postcode</label>
          <input class="input input--text input-width-7 u-fl u-mr-s u-mb-xs u-pb-xs u-pt-xs" type="text" name="postcode"
                 id="postcode-search" required/>
        </div>
        <button type="submit" class="btn btn--link" id="postcode-search-submit"><span class="btn__inner">Search</span></button>
      </form>
    </div>
  </div>
  </body>
{% endblock %}