{% extends "layouts/base.html" %}

{% block main %}
  <main id="main-content" class="page__main ">
  <p class="field u-mb-l">
    <a href={{ url_for('postcode_search_bp.postcode_results', postcode=case_details.postcode) }}>Back to search
      results</a>
  </p>
  <div class="grid">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
      {% if category == 'linked' %}
        <div class="panel panel--success">

          <div class="panel__header">
            <p id="success" data-qa="success-header" class="panel__title u-fs-r--b"><strong>{{ message }}</strong></p>
          </div>
            </div>
      {% elif category == 'error' %}
       <div class="panel panel--error">

        <div class="panel__header">
          <p id="error" data-qa="error-header" class="panel__title u-fs-r--b"><strong>{{ message }}</strong></p>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  {% endwith %}
  <div class="grid__col col-6@m">
  <br>
  <h1>Case reference {{ case_details.caseRef }}</h1>

  {% for key, value in case_details.items() %}
    <p><b>{{ key }}</b>: {{ value }}</p>
  {% endfor %}
  <h1>Event history</h1>
  {% for event in case_events %}
      <div class="wrap-collabsible">
        <input id="collapsible{{ loop.index }}" class="toggle" name="{{ loop.index }}" type="checkbox">
        <label for="collapsible{{ loop.index }}" class="lbl-toggle" name="{{ loop.index }}">      Event: {{ event['eventType'] }}
          Channel: {{ event['eventChannel'] }}
          Timestamp: {{ event['eventDate'] }}</label>
        <div class="collapsible-content">
          <div class="content-inner">
                {% for event_key, event_value in event.items() %}
                  {%  if event_value is mapping %}
                    <p><b>{{ event_key }}</b>:</p>
                    {% for key, value in event_value.items() %}
                      <p style="text-indent: 30px"><b>{{ key }}</b>: {{ value }}</p>
                    {% endfor %}
                  {% else %}
                    <p><b>{{ event_key }}</b>: {{ event_value }}</p>
                  {% endif %}
                {% endfor %}
          </div>
        </div>
      </div>

  {% endfor %}
  </div>
  <div class="grid__col col-6@m">
    <br>
    <form action="{{ url_for('case_details_bp.get_qid_for_linking') }}" method='get'>
        <div class="field">
          <label class="label venus" for="search">Link QID</label>
          <input class="input input--text input-type__input" type="text" name="qid"
                 id="qid-search" required/>
          <input type="hidden" name="case_id"
                 id="case_id" value="{{ case_details.id }}"/>
        </div>
          <p></p>
        <button type="submit" class="btn btn--link" id="qid-search-submit"><span class="btn__inner">Submit</span></button>
      </form></div>
  </div>
  </main>

  <script>
  let myLabels = document.querySelectorAll('.lbl-toggle');

Array.from(myLabels).forEach(label => {
  label.addEventListener('keydown', e => {
    // 32 === spacebar
    // 13 === enter
    if (e.which === 32 || e.which === 13) {
      e.preventDefault();
      label.click();
    };
  });
});
  </script>
{% endblock %}