{% extends "layouts/base.html" %}

{% block main %}
    <main id="main-content" class="page__main "></main>
    <p class="field u-mb-l">
        <a href={{ url_for('postcode_search_bp.postcode_results', postcode=case_details.postcode) }}>Back to search results</a>
            </p>
    <h1>Case reference {{ case_details.caseRef }}</h1>

    {%  for key, value in case_details.items() %}
        <p>{{ key }} : {{ value }}</p>
    {% endfor %}
    <h1>Event history</h1>
    {{ case_events }}
{% endblock %}