{% extends "layouts/base.html" %}
{% block main %}
  <main id="main-content" class="page__main ">
    <p class="field u-mb-l">
    <a href={{ url_for('case_details_bp.case_details_results', case_id=case_id) }}>Back to details page</a>
  </p>

  <p><b>questionnaireId:</b> {{ uac_qid_link.questionnaireId }}</p>
  {% if uac_qid_link.caseId is not none %}
  <p><b>This QID is already linked to case:</b> {{ uac_qid_link.caseId }}</p>
  <p>Are you sure you want to relink this qid to another case?  </p>
  {% endif %}
      <form action="{{ url_for('case_details_bp.link_qid_to_case') }}" method='post'>
        <input value="{{ uac_qid_link.questionnaireId }}" type="hidden" name="qid"
                 id="qid"/>
        <input type="hidden" name="case_id"
                 id="case_id" value="{{ case_id }}"/>
        <button type="submit" class="btn btn--link" id="qid-search-submit"><span class="btn__inner">Link QID</span></button>
            </form>
    </main>

{% endblock %}